<a href="https://colab.research.google.com/github/doruktopcu/BTK_Introduction_to_Natural_Language_Processing/blob/main/globalaihubProje1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
#List of modules used
import numpy as np
import pandas as pd

#Grading for Calculus 2 Summer Term
#There has been 3 exams in this semester.
#Two midterms and a final exam.
#Each midterm will effect total score %20.
#Final exam will effect the results %60.

class Student:

  def __init__(self, name, surname, midterm_1 = 0, midterm_2 = 0, final = 0):
    self.name = name
    self.surname = surname
    self.midterm_1 = float(midterm_1)
    self.midterm_2 = float(midterm_2)
    self.final = float(final)


  def calculateFinalScore(self):
    result =  self.midterm_1 * 0.2 + self.midterm_2 * 0.2 + self.final * 0.6
    return result

  #Gaussian scoring will be added.
  def calculateGrade(self,gaussian = False):

    if not gaussian:
      total = self.calculateFinalScore()
      if 100 >= total >= 95:  
        return 'A1'
      elif 95 > total >= 90:  
        return 'A2'
      elif 90 > total >= 85:  
        return 'A3'
      elif 85 > total >= 80:  
        return 'B1'
      elif 80 > total >= 75:  
        return 'B2'
      elif 75 > total >= 70:  
        return 'B3'
      elif 70 > total >= 65:  
        return 'C1'
      elif 65 > total >= 60:
        return 'C2'
      elif 60 > total >= 55:  
        return 'C3'
      elif 55 > total >= 50:  
        return 'D'
      if 50 > total >= 0:  
        return 'Failed'
      

    else:
      return None


  #Gives information about the student. Can be called as Student.describeStudent()
  def describeStudent(self):
    description = f""" 
    
                       Student Name:{self.name}
                    Student Surname:{self.surname}
                          Midterm 1:{self.midterm_1}
                          Midterm 2:{self.midterm_2}
                              Final:{self.final}
                              
                              """
    
    return description

class Classroom(Student):
    def __init__(self, class_name, student_list):
      self.class_name = class_name
      self.student_list = student_list
      
      self.student_df = pd.DataFrame(columns = ['Name', 'Surname', 'Midterm_1', 'Midterm_2', 'Final', 'Total_Score', 'Grade'])
      id = 0     
      for student in student_list:
        self.student_df[id] = [student.name, student.surname, student.midterm_1, student.midterm_2, student.final, student.calculateFinalScore(), student.calculateGrade()] 
        id += 1
      
      def grades_df(self, student_df):
        return self.student_df



class Grader(Classroom):
  pass

In [60]:
a = Student('ali', 'veli', '10', '20', '30')
b = Student('ayse', 'fatma', '80', '100', '93.8237')

In [61]:
a.calculateFinalScore()
b.calculateFinalScore()

92.29422

In [62]:
b.describeStudent()

' \n    \n                       Student Name:ayse\n                    Student Surname:fatma\n                          Midterm 1:80.0\n                          Midterm 2:100.0\n                              Final:93.8237\n                              \n                              '

In [63]:
student_array = [a, b]

In [64]:
df_class = Classroom('9A', student_array)

In [65]:
df_class.grades_df()

AttributeError: ignored

In [ ]:
df_class.head()